.banner{
    background: url("../../image/bannerbackground.png");
    background-size: cover;
    height: 400px;
    width: 100%;
   
}
.banner h1{
    justify-content: center;
    align-items: center;
}
#hedlink{
    text-decoration: none;
}
.btn-submit{
    background-color:lightgreen ;
    border:none;
    height: 40px;
    width: 100px;
}
.btn-in{
    background-color:white ;
    border:none;
    height: 40px;
    width: 210px;

}