.fullLunch-container{ 
  
    background-color:whitesmoke;
    border-radius: 2px;
    width: 300px;
}

.fullLunch-container:hover{
    box-shadow: 0 .5rem 1rem rgb(190, 189, 189);
    border-radius: 10px;
    transition: 0.2s;
    }
    #See-details{
      background-color:rgba(226, 211, 192, 0.712);
      border: none;
    }
